{% extends 'accounts/base.html' %}
<!-- ------ -->
{% block content %}
{% include 'accounts/message.html' %}
<div class="row mt-3">
  <div class="col-md-4">
    <div class="card text-white bg-info mb-3">
      <div class="card-header text-center">Total Orders</div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ total_orders }}</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-header text-center">Orders Delivered</div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ delivered }}</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-warning mb-3">
      <div class="card-header text-center">Orders Pending</div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ pending }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h5>CUSTOMERS:</h5>
    <div class="card card-body">
      <a
        href="{% url 'create_customer' %}"
        class="btn btn-primary btn-sm btn-block"
        >Create Customer</a
      >
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Customers</th>
          <th>Orders</th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td>
            <a
              href="{% url 'customer' customer.id %}"
              class="btn btn-sm btn-primary"
              >View</a
            >
          </td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <h5>LAST 5 ORDERS</h5>
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Ordered Date</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{ order.product }}</td>
          <td>{{ order.date_created }}</td>
          <td>{{ order.status }}</td>
          <td>
            <a
              href="{% url 'update_order' order.id %}"
              class="btn btn-secondary btn-sm"
              >Update</a
            >
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#deleteOrder"
            >
              Delete
            </button>
            <div
              class="modal fade"
              id="deleteOrder"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="deleteOrderLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title text-center"
                      id="staticBackdropLabel"
                    >
                      Delete Order
                    </h5>
                  </div>
                  <div class="modal-body">
                    <p class="text-danger">
                      Are you sure you want to delete "{{ order.product }}"
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form
                      action="{% url 'delete_order' order.id %}"
                      method="POST"
                    >
                      {% csrf_token %}
                      <a
                        href="{% url 'home' %}"
                        class="btn btn-secondary btn-sm"
                        >Cancel</a
                      >
                      <input
                        class="btn btn-danger btn-sm"
                        type="submit"
                        name="confirm"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}